<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.resources.any? %>
    <h3>Resources (<%= @user.resources.count %>)</h3>
    <ol class="resources">
        <%= render @resources %>
    </ol>
    <%= will_paginate @resources %>
    <% end %>
  </div>
</div>
